* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav 내부 요소 css */
header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.logo{
    width: 200px;
    height: 50px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #F7F7F7;
}
.navRight{
    display: flex;
    margin-right: 20px;
}
.circleWrapper{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #9E9E9E;
}
.searchBar{
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #F7F7F7;
    border-radius: 20px;
}
.searchInput{
    width: 80%;
    height: 100%;
    padding: 0 20px;

    background-color: transparent;
    border-style: none;
    outline: none;
    font-size: 18px;
}
.searchIcon{
    height: 60%;
    margin-right: 10px;
}
.profile{
    width: 50px;
    height: 50px;
    margin-left: 20px;

    border: solid;
    border-radius: 100%;
    border-style: 2px;
    border-color: #9E9E9E;
}

/*전체 grid 처리*/
.container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    position: relative;
    margin-top: 70px;
}


.video video {
    width: 100%;
    height: 100%;
}

/*동영상 및 채널 정보*/
.hashtags {
    display: flex;
    font-size: 15px;
    color: blue;
    padding: 0px;
}

.info {
    padding-top: 10%;
    padding-left: 20px;
}

.info .views {
    font-size: 12px;
    color: gray;
}

.info .title {
    font-size: 25px;
    font-weight: bold;
}



.actions {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}

.actions img {
    width: 50px;
    height: 50px;
}

.actions button{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: darkgray;
    background-color: white;
}

.channel {
    display: flex;
    justify-content:space-between;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.channel .chan_data {
    display: flex;
    align-items: center;
}

.channel .chan_data .info {
    display: flex;
    flex-direction: column;
}

.channel .chan_data img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.channel .chan_data .info .name {
    font-size: 14px ;
}

.channel .chan_data .info .subscribers {
    font-size: 12px ;
    color: darkgray;
}

.channel .subscribe {
    text-transform: uppercase;
    color: red;
    font-size: 14px;
}

/* Comments */

.Comments  {
    padding: 0 12px 12px;

}

.Comments .title {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: 600;
}

.Comments .item {
    display: flex;
    padding: 6px;
    padding-top: 12px;
    width: 100%;
}

.Comments .item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Comments .item .info {
    display: flex;
    flex: 1 1 95%;
    justify-content: space-between;
    padding: 0;

}

.Comments .withoutbutton {
    display: flex;
    flex-direction: column;
}

.Comments .likesbutton {
    display: flex;
}

.Comments .likesbutton button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: darkgray;
    background-color: white;
}

.Comments .likesbutton img {
    width: 30px;
    height: 30px;
}

.Comments .name {
    font-size: 20px;
    font-weight: 600;
}

.Comments .date {
    font-size: 15px;
    color: darkgray;
}

.Comments .content {
    font-size: 18px;
    padding: 6px;

}

.Comments .Followingcomments {
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    color: blue;
    background-color:white;
}

/*Recommended*/

.Recommended {
    padding : 0 12px 12px ;
}

.Recommended .title {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: 600;
}

.Recommended .item {
    display: flex;
} 

.Recommended .item img {
    flex: 1 1 40%;
    width: 100px;
    padding: 12px;
} 


.Recommended .item .info {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    padding: 0 12px 12px;
} 

.Recommended .name {
    font-size: 15px;
    margin-bottom: 6px;
    color: darkgray;
}

.Recommended .views {
    font-size: 15px;
    margin-bottom: 6px;
    color: darkgray;
}

